.myImg {
  width: 140px !important;
  height: 100px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mmWallet {
  color: #7d3ce4;
}
.cardbg {
  background-color: #2c344c !important;
  background: #2c344c !important;
}
.trans {
  background-color: transparent !important;
  background: transparent !important;
}
.shadow2 {
  box-shadow: 0px 1px 14px 4px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 1px 14px 4px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 1px 14px 4px rgba(0, 0, 0, 0.9);
}

body {
  background: linear-gradient(to right, #000000, #434343);
}
